body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
div {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.container {
    /* margin:20px; */
}
*:focus {
    outline: none;
}
[class*='col-'] {
    padding:10px;
}
.col-full {
    width: 100%;
    clear: both;
}
.col-half {
    width: 50%;
    float: left;
}
.col-2-3 {
    width: 66.666%;
    float: left;   
}
.col-1-3 {
    width: 33.333%;
    float: left;   
}
.flex-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
}
.flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.flex-row.row:after, 
.flex-row.row:before {
    display: flex;
}
.preformatted {
    font-family: monospace;
    font-size: 1.1rem;
    /* white-space: pre; */
    white-space: pre-wrap;
    unicode-bidi: embed; 
} 
.black-bg {
    color: #aad6d1; /* #e6e7e8; */
    background-color: #000;
}
.black-bg a:hover, 
.black-bg a:hover * {
    color: white;
}
.black-bg b {
    color: lightskyblue; /* #cafff0; */
}
.gray-bg {
    color: #d7dee8;
    background: #62656a;
}
.gray-bg b {
    color: #f8e5c1; /* #ecf4ff #cafff0; */
    text-shadow: 2px 2px 5px #343434;
}
.app-box {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 5px;
}